<div class="action">
  <div class="row mt-5 pb-3">
    <div class="col-6">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn btn-rouced-left"
          [ngClass]="{ 'btn-primary': showListOrGrid, 'btn-secundary': !showListOrGrid }"
          aria-label="List of Users"
          (click)="toggleView('list')"
        >
          <em class="bi bi-layout-three-columns"></em>
        </button>
        <button
          type="button"
          class="btn btn-rouced-right"
          [ngClass]="{ 'btn-primary': !showListOrGrid, 'btn-secundary': showListOrGrid }"
          aria-label="Grid of Users"
          (click)="toggleView('grid')"
        >
          <em class="bi bi-grid-3x2"></em>
        </button>
      </div>
    </div>
    <div class="col-6 text-end">
      <button type="button" class="btn btn-primary btn-rouced" (click)="openAddUser()">
        <span>Add row</span>
      </button>
    </div>
  </div>
</div>

<div class="card shadow">
  <ng-container *ngIf="showListOrGrid; else gridCardView">
    <app-user-list></app-user-list>
  </ng-container>
  <ng-template #gridCardView>
    <app-user-grid></app-user-grid>
  </ng-template>
</div>
<br />
