<div class="action">
  <div class="row mt-5 pb-3">
    <div class="col-6">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-rouced-left" [ngClass]="{'btn-primary': showListOrGrid, 'btn-secundary': !showListOrGrid}"
          aria-label="List of Users" (click)="toogleView('list')"><em class="bi bi-layout-three-columns"></em></button>
        <button type="button" class="btn btn-rouced-right" [ngClass]="{'btn-primary': !showListOrGrid, 'btn-secundary': showListOrGrid}"
          aria-label="Grid of Users" (click)="toogleView('grid')"><em class="bi bi-grid-3x2"></em></button>
      </div>
    </div>
    <div class="col-6 text-end">
      <button type="button" class="btn btn-primary btn-rouced" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span>Add row</span>
      </button>
    </div>
  </div>
</div>

<div class="card shadow">
  <ng-container *ngIf="showListOrGrid; else gridCardView">
    <div class="card-body list-users">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td class="name--col">Name</td>
            <td class="email--col">Email</td>
            <td class="department-col">Department</td>
            <td class="actions--col"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="name--col">
              <span>Name1</span>
              <input type="text" name="name" value="Name1" aria-label="Name" />
            </td>
            <td class="email--col">
              <span>email@domain.com</span>
              <input type="text" name="email" value="email@domain.com" aria-label="Email" />
            </td>
            <td class="department-col">
              <span>Department</span>
              <select name="department" aria-label="Department">
                <option value="Marketing">Marketing</option>
                <option value="Development">Development</option>
              </select>
            </td>
            <td class="actions--col">
              <div class="actions">
                <em class="bi bi-pencil"></em>
                &nbsp;
                <em class="bi bi-trash text-danger"></em>
              </div>
              <div class="actions--editing">
                <em class="bi bi-check2"></em>
                &nbsp;
                <em class="bi bi-x text-danger"></em>
              </div>
            </td>
          </tr>
          <tr>
            <td class="name--col">
              <span>Name1</span>
              <input type="text" name="name" value="Name1" aria-label="Name" />
            </td>
            <td class="email--col">
              <span>email@domain.com</span>
              <input type="text" name="email" value="email@domain.com" aria-label="Email" />
            </td>
            <td class="department-col">
              <span>Department</span>
              <select name="department" aria-label="Department">
                <option value="Marketing">Marketing</option>
                <option value="Development">Development</option>
              </select>
            </td>
            <td class="actions--col">
              <div class="actions">
                <em class="bi bi-pencil"></em>
                &nbsp;
                <em class="bi bi-trash text-danger"></em>
              </div>
              <div class="actions--editing">
                <em class="bi bi-check2"></em>
                &nbsp;
                <em class="bi bi-x text-danger"></em>
              </div>
            </td>
          </tr>
          <tr class="editing">
            <td class="name--col">
              <span>Name1</span>
              <input type="text" name="name" value="Name1" aria-label="Name" />
            </td>
            <td class="email--col">
              <span>email@domain.com</span>
              <input type="text" name="email" value="email@domain.com" aria-label="Email" />
            </td>
            <td class="department-col">
              <span>Department</span>
              <select name="department" aria-label="Department">
                <option value="Marketing">Marketing</option>
                <option value="Development">Development</option>
              </select>
            </td>
            <td class="actions--col">
              <div class="actions">
                <em class="bi bi-pencil"></em>
                &nbsp;
                <em class="bi bi-trash text-danger"></em>
              </div>
              <div class="actions--editing">
                <em class="bi bi-check2"></em>
                &nbsp;
                <em class="bi bi-x text-danger"></em>
              </div>
            </td>
          </tr>
          <tr>
            <td class="name--col">
              <span>Name1</span>
              <input type="text" name="name" value="Name1" aria-label="Name" />
            </td>
            <td class="email--col">
              <span>email@domain.com</span>
              <input type="text" name="email" value="email@domain.com" aria-label="Email" />
            </td>
            <td class="department-col">
              <span>Department</span>
              <select name="department" aria-label="Department">
                <option value="Marketing">Marketing</option>
                <option value="Development">Development</option>
              </select>
            </td>
            <td class="actions--col">
              <div class="actions">
                <em class="bi bi-pencil"></em>
                &nbsp;
                <em class="bi bi-trash text-danger"></em>
              </div>
              <div class="actions--editing">
                <em class="bi bi-check2"></em>
                &nbsp;
                <em class="bi bi-x text-danger"></em>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #gridCardView>
    <div class="card-body grid-users">
      <div class="row">
        <div class="col-6 separator">
          <h3>MARKETING</h3>
          <input type="text" name="search" placeholder="Search" aria-label="Search" />
          <div class="row pt-3">
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince experienced">Experienced</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince senior">Senior</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince advanced">Advanced</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince expert">Expert</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h3>DEVELOPMENT</h3>
          <input type="text" name="search" placeholder="Search" aria-label="Search" />
          <div class="row pt-3">
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince experienced">Experienced</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince experienced">Experienced</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince experienced">Experienced</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
            <div class="col-4 pb-3">
              <div class="card">
                <div class="card-body">
                  <div class="user-image">
                    <img src="assets/images/image.png" alt="name"/>
                    <div class="user-experince experienced">Experienced</div>
                  </div>
                  <div class="user--name">Name</div>
                  <div class="user--email">allie.lopez@mail.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Add row</h3>
        <form>
          <div class="field">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="Name">
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input type="email" id="email" value="email@domain.com" disabled>
          </div>
          <div class="field">
            <label for="email">Department</label>
            <select id="department">
              <option value="Marketing" selected="false">Marketing</option>
              <option value="Development" selected="true">Development</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-rouced" data-bs-dismiss="modal"><span>Cancel</span></button>
        <button type="button" class="btn btn-primary btn-rouced"><span>Save</span></button>
      </div>
    </div>
  </div>
</div>
