/* Mdoal */
.modal {
  &-footer {
    background-color: #eeeeee;
  }

  &-body {
    h3 {
      color: #7e7e7e;
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    form {
      display: flex;
      flex-direction: column;

      .field {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
      }

      label {
        margin-bottom: 8px;
      }
    }
  }
}
