.grid-users {
  h3 {
    color: #4e5e5f;
    font-size: 1rem;
    font-weight: bold;
  }

  input {
    border: 1px solid #dedede;
    font-size: 0.75rem;
    height: 30px;
    text-indent: 10px;
  }
}
