.user {
  display: flex;
  font-size: 12px;

  span {
    display: block;
  }

  input,
  select {
    display: none;
  }

  &:hover {
    background-color: #eeeeee;

    &:not(.editing) .actions {
      display: block;

      .btn {
        color: #4fba96;
        font-size: 18px;
        height: 20px;
        padding: 0 3px !important;
        margin: 0px !important;
      }
    }
  }

  &.editing {
    background-color: #eeeeee;

    span {
      display: none;
    }

    input,
    select {
      border: 1px solid #4fba96;
      display: block;
      height: 30px;
      text-indent: 10px;
      width: 100%;
    }

    .actions--editing {
      display: block;

      .btn {
        color: #4fba96;
        font-size: 25px;
        padding: 0;
      }
    }

    .user {
      &__name {
        padding: 10px;
      }
      &__email {
        padding: 10px;
      }
      &__department {
        padding: 10px;
      }
    }
  }

  &__name {
    vertical-align: bottom;
    height: 50px;
    width: 32%;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    padding: 20px 10px 10px 10px;
  }

  &__email {
    width: 38%;
    height: 50px;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    padding: 20px 10px 10px 10px;
  }

  &__department {
    width: 25%;
    height: 50px;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    padding: 20px 10px 10px 10px;
  }

  &__actions {
    height: 50px;
    font-size: 20px;
    text-align: center;
    width: 10%;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    padding: 10px;

    .actions {
      display: none;

      &--editing {
        display: none;
      }
    }
  }
}

.arrow {
  cursor: pointer;
}
