.grid-users {
  .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.user {
  &-image {
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      border-radius: 100px;
      width: 100px;
    }

    .user-experince {
      border-radius: 20px;
      color: white;
      font-size: 0.75rem;
      padding: 1px 10px;
      position: absolute;
      text-align: center;
      top: 90px;
    }

    .user-experince.experienced {
      box-shadow: 0px 0px 10px #58dcad;
      background-color: #58dcad;
    }

    .user-experince.advanced {
      background-color: #66a5ed;
      box-shadow: 0px 0px 10px #66a5ed;
    }

    .user-experince.senior {
      background-color: #9775e5;
      box-shadow: 0px 0px 10px #9775e5;
    }

    .user-experince.expert {
      background-color: #efa651;
      box-shadow: 0px 0px 10px #efa651;
    }
  }

  &--name {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
  }

  &--email {
    font-size: 12px;
    text-align: center;
  }
}
