<div class="card">
  <div class="card-body">
    <div class="user-image">
      <img src="assets/images/image.png" alt="name"/>
      <div class="user-experince experienced">Experienced</div>
    </div>
    <div class="user--name">Name</div>
    <div class="user--email">allie.lopez@mail.com</div>
  </div>
</div>
<!--
  <div class="card">
    <div class="card-body">
      <div class="user-image">
        <img src="assets/images/image.png" alt="name"/>
        <div class="user-experince senior">Senior</div>
      </div>
      <div class="user--name">Name</div>
      <div class="user--email">allie.lopez@mail.com</div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="user-image">
        <img src="assets/images/image.png" alt="name"/>
        <div class="user-experince advanced">Advanced</div>
      </div>
      <div class="user--name">Name</div>
      <div class="user--email">allie.lopez@mail.com</div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="user-image">
        <img src="assets/images/image.png" alt="name"/>
        <div class="user-experince expert">Expert</div>
      </div>
      <div class="user--name">Name</div>
      <div class="user--email">allie.lopez@mail.com</div>
    </div>
  </div>
-->
