<div class="modal fade show" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Add row</h3>
        <form>
          <div class="field">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="" />
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input type="email" id="email" value="" />
          </div>
          <div class="field">
            <label for="department">Department</label>
            <select id="department">
              <option value="Marketing" selected="false">Marketing</option>
              <option value="Development" selected="true">Development</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-rouced" (click)="close()"><span>Cancel</span></button>
        <button type="button" class="btn btn-primary btn-rouced"><span>Save</span></button>
      </div>
    </div>
  </div>
</div>
