.list {
  display: flex;
  flex-direction: row;

  &--header {
    background-color: #4e5e5f;
    color: #ffffff;
    display: flex;
    text-transform: uppercase;

    &__name {
      width: 32%;
      border: 1px solid #dedede;
      padding: 10px;
    }

    &__email {
      width: 38%;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top: 1px solid #dedede;
      padding: 10px;
    }

    &__department {
      width: 25%;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top: 1px solid #dedede;
      padding: 10px;
    }

    &__actions {
      font-size: 20px;
      text-align: center;
      width: 10%;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top: 1px solid #dedede;
      padding: 10px;

      span {
        display: none;
      }
    }
  }
}



.table-bordered {
  border-color: #dedede;
}

.table {
  background-color: #fff;
  width: 100%;

  .name--col {
    width: 32%;
  }

  .email--col {
    width: 38%;
  }

  .department--col {
    width: 25%;
  }

  .actions--col {
    font-size: 20px;
    text-align: center;
    width: 10%;
  }

  & > thead {
    tr {
      background-color: #4e5e5f;
    }

    td {
      color: white;
      padding: 10px;
      text-transform: uppercase;
    }
  }

  & > tbody {
    td {
      font-size: 12px;
      height: 50px;
      padding: 10px;
      vertical-align: bottom;
    }

    tr {
      span {
        display: block;
      }

      input,
      select {
        display: none;
      }

      &:hover {
        background-color: #eeeeee;

        &:not(tr.editing) .actions {
          color: #4fba96;
          display: block;
          font-size: 18px;
        }
      }

      .actions {
        display: none;

        &--editing {
          display: none;
        }
      }

      &.editing {
        background-color: #eeeeee;

        span {
          display: none;
        }

        input,
        select {
          border: 1px solid #4fba96;
          display: block;
          height: 30px;
          text-indent: 10px;
          width: 100%;
        }

        .actions--editing {
          color: #4fba96;
          display: block;
          font-size: 18px;
        }
      }
    }
  }
}
