<div class="card-body list-users">
  <div class="users">
    <div class="list--header">
      <div class="list--header__name"><span>Name</span></div>
      <div class="list--header__email"><span>Email</span></div>
      <div class="list--header__department"><span>Department</span></div>
      <div class="list--header__actions"><span>actions</span></div>
    </div>
    <div class="list--body" *ngFor="let user of users; trackBy: trackByFunction">
      <app-user-list-item [user]="user" (isEditingMode)="isEditing(user.id, $event)"></app-user-list-item>
    </div>
  </div>
</div>
