.list {
  display: flex;
  flex-direction: row;

  &--header {
    background-color: #4e5e5f;
    color: #ffffff;
    display: flex;
    text-transform: uppercase;

    &__name {
      width: 32%;
      border: 1px solid #dedede;
      padding: 10px;
    }

    &__email {
      width: 38%;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top: 1px solid #dedede;
      padding: 10px;
    }

    &__department {
      width: 25%;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top: 1px solid #dedede;
      padding: 10px;
    }

    &__actions {
      font-size: 20px;
      text-align: center;
      width: 10%;
      border-bottom: 1px solid #dedede;
      border-right: 1px solid #dedede;
      border-top: 1px solid #dedede;
      padding: 10px;

      span {
        display: none;
      }
    }
  }
}
