@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* Generals */
body {
  background-color: #ececec;
  font-family: 'Arvo', serif;
}

input,
select {
  font-size: 12px;
  height: 30px;
  text-indent: 10px;
  width: 100%;

  &:focus,
  &:focus {
    outline: none;
  }
}

input[disabled] {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

select {
  appearance: none;
  background-image: url(/assets/images/caret-down-fill.svg); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
  background-position: 98% center;
  background-repeat: no-repeat;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.is-invalid {
  border: 1px solid var(--bs-red) !important;
}

/* bottons */
.btn-rouced-left {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;

  & > em {
    margin-left: 0.25rem;
  }
}

.btn-rouced-right {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;

  & > em {
    margin-right: 0.25rem;
  }
}

.btn-rouced {
  border-radius: 30px;
  padding: 0.4rem 1.5rem;

  & > span {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-transform: uppercase;
  }
}

/* btn-primary */
.btn-primary {
  background-color: #4fba96;
  border-color: #4fba96;
  color: #ffffff;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: #5c8575;
    border-color: #5c8575;
    color: #ffffff;
    outline: none;
  }

  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus,
  &[disabled]:focus,
  &.disabled:active,
  &[disabled]:active,
  &.disabled.active,
  &[disabled].active {
    background-color: #4fba96;
    border-color: #4fba96;
    outline: none;
  }
}

/* btn-secundary */
.btn-secundary {
  background-color: #d3d8d6;
  border-color: #d3d8d6;
  color: #ffffff;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: #969696;
    border-color: #969696;
    color: #ffffff;
    outline: none;
  }

  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus,
  &[disabled]:focus,
  &.disabled:active,
  &[disabled]:active,
  &.disabled.active,
  &[disabled].active {
    background-color: #d3d8d6;
    border-color: #d3d8d6;
    outline: none;
  }
}

.btn-light {
  background-color: transparent;
  border: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: transparent;
  }

  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus,
  &[disabled]:focus,
  &.disabled:active,
  &[disabled]:active,
  &.disabled.active,
  &[disabled].active {
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }
}
